/* src/styles.css */
/* body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(135deg, #420541, #042b51);
    font-family: 'Arial', sans-serif;
    color: #ffffff;
} */

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: black;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.5);
    width: 100%; /* Full width */
    max-width: 400px; /* Limit to 400px */
}

h1 {
    font-size: 2em;
    margin-bottom: 20px;
}

#box {
    width: 200px;
    height: 200px;
    background-color: #ffa406;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    font-size: 1.2em;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
    margin: 20px auto;
    border-radius: 10px;
}

#timer {
    font-size: 1.5em;
    margin-bottom: 20px;
    color: #2deded;
    font-weight: bold;
}

#result {
    font-size: 1.2em;
    color: #ecf0f1;
    margin: 10px 0;
}

#points {
    font-size: 1.2em;
    color: #ffffff;
    font-weight: bold;
}
/* 
#next-game-button {
    display: none;
    background-color: #1c0e01;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    margin-top: 20px;
    margin-left: 20px;
    transition: background-color 0.3s, transform 0.2s;
    overflow: hidden;
    position: relative;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

#next-game-button:hover {
    background-color: #74bdfd;
    transform: scale(1.05);
}

#next-game-button::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    background: rgb(255, 0, 0);
    border-radius: 50%;
    transform: scale(0);
    opacity: 0;
    pointer-events: none;
    transition: transform 0.5s, opacity 1s;
}

#next-game-button:active::after {
    transform: scale(4);
    opacity: 0;
    transition: 0s;
} */
