.input-container {
  position: relative;
  margin-bottom: 0.5rem;
  transition: all 0.3s ease;
}

.input-container label {
  position: absolute;
  top: 40%;
  left: 10px;
  transform: translateY(-50%);
  font-size: 0.95rem;
  color: #888;
  transition: all 0.3s ease;
}

.input-container.active label,
.input-container input:focus + label {
  top: -10px;
  font-size: 0.8rem;
  color: #0ea5e9; /* cyan-500 color */
}

input {
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1px solid #444;
  background-color: #111;
  color: white;
}

input:focus {
  outline: none;
  border-color: #0ea5e9;
}
