* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Squada One", sans-serif;
  font-weight: 1000;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: transparent;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 1000;
  width: 100%;
  backdrop-filter: blur(10px);
}

.hopeless {
  font-family: "Monoton";
}
.nav-logo {
  display: flex;
  align-items: center;
}

.nav-logo img {
  width: 2.5em;
  height: auto;
  margin-right: 0.625em;
}

.nav-logo a {
  color: #ecf0f1;
  font-size: 1.8rem;
  font-weight: bold;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.drawer-content{
  padding: 1em;
}

.nav-links {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  /* padding-left: 5rem;
  padding-right: 5rem; */
  flex: 1;
  transition: all 0.3s ease-in-out;
}

.nav-links li {
  text-align: center;
  margin: 0 1em;
  transition: all 0.3s ease-in-out;
  font-family: "Archivo";
}

.nav-links li button {
  color: #ecf0f1;
  font-size: 1.5rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  border-radius: 25px;
  background-color: transparent;
  border: hidden;
}

.nav-links li button:hover {
  background-color: transparent;
  color: #50daef;
  /* box-shadow: 0px 4px 12px rgba(83, 70, 153, 0.5); */
  transition: all 0.5s ease-in-out;
}

.nav-links li button.active {
  background-color: #2980b9;
}

.nav-dash {
  display: flex;
  gap: 2rem;
  margin: 0.1em;
  padding: 0.1em;
  z-index: 1002;
}

.nav-dash li a {
  color: #ecf0f1;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  border-radius: 25px;
  background-color: transparent;
}

.nav-dash li a:hover {
  background-color: #3498db;
  color: white;
  box-shadow: 0px 4px 12px rgba(52, 152, 219, 0.5);
}

.nav-dash li a.active {
  background-color: #2980b9;
}

.mobile-menu-icon {
  display: none;
  font-size: 2.5rem;
  color: #ecf0f1;
  cursor: pointer;
  z-index: 1001;
}

@media (max-width: 992px) {
  .nav-links {
    display: none;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    position: absolute;
    top: 70px;
    left: 0;
    background-color: transparent;
    padding: 1rem 0;
    backdrop-filter: blur(10px);
    z-index: 1000;
    /* background-color: rgba(0, 0, 0, 0.588); */
  }

  .nav-links-mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    margin-top: -1.5em;
    margin-left: -1em;
    margin-bottom: 0em;
    top: 0em;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1001;
    color: #ffffff;
    transition: all 0.5s ease-in-out;
    background-color: rgba(0, 0, 0, 0.656);
    backdrop-filter: blur(10px);
    font-family: "Archivo";
    font-size: 1em;
  }

  .drawer-content{
    padding: 1em;
  }

  .nav-links-mobile::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    transition: all 0.5s ease-in-out;
    backdrop-filter: blur(20px);
    z-index: -1;
  }

  .nav-links ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.675);
  }

  .nav-links li {
    text-align: center;
    transition: all 0.5s ease-in-out;
  }

  .nav-links-mobile li {
    display: flex;
    font-size: 3.1em;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    margin: 0;
    transition: all 0.5s ease-in-out;
    /* background-color: rgba(0, 0, 0, 0.588); */
  }

  .mobile-menu-icon {
    display: block;
    z-index: 1001;
  }

  .nav-links-mobile ul{
    padding: 0;
  }

  .nav-links-mobile li button {
    font-size: 0.5em;
    padding: 0.3rem rem;
    width: auto;
    text-align: center;
    background-color: transparent;
    transition: all 0.5s ease-in-out;
  }

  .hopeless-name{
    display: none;
  }

  .nav-dash-mobile .mobile-menu-icon {
    display: none;
  }

  .menu-open .nav-links-mobile li {
    justify-content: space-evenly;
  }

  .menu-open .nav-links-mobile li button:hover {
    background-color: transparent;
    color: #50daef;
  }

  .menu-open .nav-logo,
  .menu-open .nav-dash {
    display: none;
  }
}

@keyframes fadeInLinks {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.nav-links li:nth-child(1) button {
  animation-delay: 0.1s;
}

.nav-links li:nth-child(2) button {
  animation-delay: 0.2s;
}

.nav-links li:nth-child(3) button {
  animation-delay: 0.3s;
}

.nav-links li:nth-child(4) button {
  animation-delay: 0.4s;
}

.nav-links li:nth-child(5) button {
  animation-delay: 0.4s;
}

.nav-links li:nth-child(6) button {
  animation-delay: 0.4s;
}
